## Required for connecting to Deepgram.
DEEPGRAM_API_KEY=your_deepgram_api_key_here

## Optional - only needed if you decide to implement Permanent Token auth.
AC_TOKEN=your_audiocodes_bot_api_token_here
